.post
  +clearfix
  border-top: 1px solid #efefef
  padding: 20px 0
  margin: 40px 0

  &:first-child
    padding: 0
    margin: 0

  h2
    font-weight: 300

  .meta
    font-size: 16px

  .description, .annotation
    font-size: 16px

    p
      line-height: 28px

  .more
    font-size: 15px
    margin: 15px 0

    a
      +border-radius(3px)
      +transition(all 0.2s ease-in-out)
      border: 1px solid #306cbb
      padding: 5px 10px

      &:hover
        background: #306cbb
        color: #fff
        text-decoration: none

  .tags

    li
      +border-radius(2px)
      +inline-block
      background: #999
      font-size: 12px
      line-height: 22px
      margin: 0 3px 0 0
      padding: 1px 5px 0px 5px

      &:hover
        background: #bbb
        cursor: pointer

      a
        color: #fff

        &:hover
          text-decoration: none

.blog-tags
  +border-radius(2px)
  border: 1px solid #e8e8e8
  margin: 30px 0

  ul
    margin: 0
    padding: 0

  li
    border-bottom: 1px solid #e8e8e8
    padding: 2px 10px

    &:hover
      background: #f9f9f9

    &:last-child
      border: none

  a:hover
    text-decoration: none
