<div class="annotation">
  <p>
    <%= article.data.annotation.text %>
  </p>

  <p>
    <img class="img-responsive" src="<%= article.data.annotation.image %>" alt="<%= article.title %>" title="<%= article.title %>">
  </p>
</div>
